.reactApp {
    display: flex;
    flex-flow: row wrap;
}

.head, .status-fetch, .filter, .output-data-items {
    flex: 1 100%;
}

.filter {
    flex: 1 auto;
}
.output-data-items {
    flex: 5 0;
}

.head {
    text-align: center;
}

.ruby-code {
    letter-spacing: 2px;
    background: #ad9fca;
    color: white;
    padding: 3px;
}

.output-data-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.output-data-item {
    background: #EEE;
    padding: 1px;
    margin-top: 1px;
    margin-left: 5px;

    text-align: center;

    display: flex;
    flex-flow: column;
    list-style: none;
}

.output-data-item > * {
    padding: 5px;
}

.output-data-explanation {
}

.filter-header {
    text-align: center;
}