.reactApp {
    display: flex;
    flex-flow: row wrap;
}

.head, .status-fetch, .filter, .output-data-items {
    flex: 1 100%;
}

.filter {
    flex: 1 auto;
}
.output-data-items {
    flex: 5 0;
}

.head {
    text-align: center;
}

.ruby-code {
    letter-spacing: 2px;
    background: rgba(49, 101, 80, 0.74);
    color: white;
    padding: 3px;
}

.output-data-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.output-data-item {
    list-style: none;
    padding: 5px;
    margin-top: 1px;
    margin-left: 5px;

    border: 1px solid black;
    display: flex;
    flex-flow: column;
}

.output-data-item > * {
    padding: 1px;
    margin: auto;
}

.output-data-explanation {

}

.filter-header {
    text-align: center;
}